<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <h1>{{agent.id}}</h1>
        {{agent.state}}
    </div>

    <h2>Available Capabilities</h2>

    <div ng-repeat="cape in agent.capabilities[0]">
        <div class="row">
            <div class="col-sm-4">
                <button type="button" class="btn btn-lg btn-primary">{{cape}}</button>
            </div>
            <div class="col-sm-4">
                <ul class="list-group">
                    <li class="list-group-item">Display name: {{agent.metadata.commands[cape].display_name}}</li>
                    <li class="list-group-item">Arguments: {{agent.metadata.commands[cape].arguments}}</li>
                    <li class="list-group-item">Return: {{agent.metadata.commands[cape].return}}</li>
                    <li class="list-group-item">Timeout: {{agent.metadata.commands[cape].timeout}}</li>
                </ul>
            </div>
        </div>


    </div>
    <hr>
    <h2>Resources</h2>

    <div ng-repeat="(resource, value) in agent.resources">
        <div class="row">
            <div class="col-sm-4">
                <button type="button" class="btn btn-lg btn-primary">{{resource}} : {{value}}</button>
            </div>
            <div class="col-sm-4">
                <ul class="list-group">
                    <li class="list-group-item">Display name: {{agent.metadata.parameters[resource].display_name}}</li>
                    <li class="list-group-item">Get timeout: {{agent.metadata.parameters[resource].get_timeout}}</li>
                    <li class="list-group-item">Set timeout: {{agent.metadata.parameters[resource].set_timeout}}</li>
                    <li class="list-group-item">Direct access: {{agent.metadata.parameters[resource].direct_access}}</li>
                    <li class="list-group-item">Startup: {{agent.metadata.parameters[resource].startup}}</li>
                    <li class="list-group-item">Visibility: {{agent.metadata.parameters[resource].visibility}}</li>
                    <li class="list-group-item">Default Value: {{agent.metadata.parameters[resource].value.default}}</li>
                    <li class="list-group-item">Units: {{agent.metadata.parameters[resource].value.units}}</li>
                    <li class="list-group-item">Type: {{agent.metadata.parameters[resource].value.type}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>